.artist-image {
    width: 550px;
    height: 380px;
    border-radius: 0.2em;
}

.artistCard {
    background-color: rgb(241, 228, 228);
    border-color: rgb(167, 26, 26);
    font-family: 'Abel', sans-serif;
    margin: 10px;
    padding: 5px;
    border-style: solid;
    box-shadow: 5px 5px gray;
    text-align: center;
    padding-bottom: 20px;
}

body {
    font-family: 'Abel', sans-serif;
    background-color: rgb(228, 230, 241);
}

#page-header {
    font-family: 'Bungee Shade', cursive;
    font-size: 1.5em;
    text-shadow: 20px, 20px, white;
    padding-bottom: 20px;
}

h2, h3, h4, h5 {
    font-family: 'Bungee Shade', cursive;
    opacity: 0.75;
}

.labelCard {
    padding-bottom: 40px;
    border-bottom: solid rgba(80, 74, 74, 0.678);
}

h1 {
    color: rgb(39, 93, 180);
}

.artistList {
    padding-top: 10px;
    padding-bottom: 10px;
}

.labelName {
    padding-top: 10px;
    color: black;
}

.artistName {
    color: red;
    opacity: 0.7;
}

.delete-btn {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: rgba(240, 11, 11, 0.74);
    color: white;
    border-radius: 1em;
    font-family: inherit;
    font-size: 15px;
}

.delete-btn:hover {
    background-color: white;
    color: red;
}

.like-btn {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: rgba(240, 11, 11, 0.74);
    color: white;
    border-radius: 1em;
    font-family: inherit;
    font-size: 20px;
}

.like-btn:hover {
    background-color: white;
    color: red;
}

input[type=text] {
    background-color: white;
    color: rgb(73, 73, 231);
    border: 2px solid grey;
    border-radius: 4px;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
  }

input[type=text]:focus {
    background-color: lightblue;
}

input[name=biography] {
    width: 500px;
    height: 40px;
}

input[name=image] {
    width: 500px;
}

.submit {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: rgba(11, 129, 240, 0.74);
    color: white;
    border-radius: 0.3em;
}

.submit:hover {
    background-color: white;
    color: rgba(11, 129, 240, 0.74);
}

